.title h1 {
  font-size: 650%;
  font-family: 'Audiowide', cursive;
  color: #5BB8F0;
  text-shadow: 1px 1px 2px black, 
    0 0 1em #63E1F9, 
    0 0 0.2em #63E1F9;
}

.title h4 {
  font-family: 'Audiowide', cursive;
  color: #5BB8F0;
  text-shadow: 1px 1px 2px black, 
    0 0 1em #63E1F9, 
    0 0 0.2em #63E1F9;
}

.title h3 {
  font-size; 2em;
  color: #F0DD65;
  /* text-shadow: 1px 1px 2px black, 
    0 0 1em #63E1F9, 
    0 0 0.2em #63E1F9; */
  margin: 0;
  padding: 0;
}

.title h4 {
  font-size: 2em;
  margin-bottom: 10%;
  margin-top: 2%;
}

.title {
  padding-bottom: 4em;
  padding-top: 4em;
}

.button.success {
  background-color: #CC5136;
  font-size: 150%;
}

.button.success:focus {
  background-color: #CC5136;
}


.button.success:hover {
  background-color: #CC5136;
}


.schedule {
  width: 100%;
}

.footer {
  background-color: white;
}

.footer .panel {
  min-height: 100%;
}

.header {
  min-height: 100%;
  background-image: url('../img/background.jpg');
  background-size: cover;
}

.middle {
  padding-top: 1em;
  background-color: #5BB8F0;
}

.footer i.social {
  font-size: 400%;
  min-height: 40px;
}

.map {
  width: 100%;
  min-height: 400px;
  border:0
}

.nav li {
  font-size: 1.1em;
  display: inline-block;
}

.nav li a {
}

.nav li:before {
  content: " | ";
}

.nav li:first-child:before {
  content: "";
}

img.sponsor {
  margin: 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .header {
    min-height: 100%;
    background-image: url('../img/background-mobile.jpg');
    background-size: cover;
  }
  
  .title h1 {
    font-size: 225%;
  }

  .title h3 {
    font-size: 125%;
  }

  .title h4 {
    font-size: 115%;
  }

  .title img.pittco_logo {
    width: 265px;
  }

  .button.success {
    font-size: 105%;
  }

  .nav li {
    font-size: 11px;
  }

  .social-media {
    text-align: left !important;
  }

  .copyright-text {
    text-align: left !important;
  }

  .sponsors a {
    display: block;
  }

  .sponsors img {
    max-width: 100%;
  }
}
